@import (reference) "~seek-asia-style-guide/theme";
body {
  background-color: #333;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
}

.listItem {
  background-color: #fff;
  border-radius: .25rem;
  color: #333;
  display: flex;
  justify-content: space-between;
  line-height: 1.25em;
  padding: .75rem .75rem .75rem 1rem;
  
  max-width: 20rem;
  min-width: 10rem;

  box-shadow: 0 1px 1px #333;

  
  &.isSecondaryLevel {
    color: #666;
    padding-left: 3rem;
  }
  
  &.hvHover:focus,
  &.hvHover:hover,
  &.isHover {
    background-color: #eef8fc;
  }
  
  &.active {
    color: #000;
    font-weight: 600;
  }
}
.listItemTitle {
  color: #666;
  display: block;
}
.listItemIcon {
  padding-right: .25rem;
  flex: 0 1 20px;
}
.listItemValue {
  flex: 1 0 0;
}
.listItemState {
  padding-left: 1rem;
  flex-basis: 1.25rem;
}
h1 {
  font-size: 2em;
  color: #eee;
  display: inline-block;
}

a {
  color: white;
}
  
p {
  color: #aaa;
}
strong {
  color: #fff;
}