@import (reference) "~seek-asia-style-guide/theme";

@list-item-v-padding: @grid-base * 3;
@list-item-line-height: @grid-base * 5;
@list-item-icon-padding-top: @grid-base / 2;
@list-item-icon-padding-right: @grid-base * 3;

.root {
  align-items: flex-start;
  background-color: @saWhite;
  border-radius: @grid-base;
  box-shadow: 0 1px 1px @saGrey5;
  color: @saGrey1;
  display: flex;
  line-height: @list-item-line-height;
  padding-top: @list-item-v-padding;
  padding-bottom: @list-item-v-padding;
  @media @desktop {
    max-width: 50vw;
  }
}

.noShadow {
  box-shadow: none;
}

.hasHoverState:hover {
  background-color: @saHover;
}

.listItemBadge {
  display: inline-block;
  margin-left: @grid-base;
  transform: translateY(@grid-base * -0.5);
}

.listItemIcon {
  color: @saGrey4;
  padding-top: @list-item-icon-padding-top;
  padding-right: @list-item-icon-padding-right;
  vertical-align: middle;
}

.listItemTitle {
  color: @saGrey2;
  padding-bottom: @grid-base;
}

.listItemValue {
  line-height: inherit;
}

.displayInline {
  display: inline;
  line-height: inherit;
  padding-bottom: 0;
}
