@import (reference) "~seek-asia-style-guide/theme";
@import (reference) "~seek-asia-style-guide/react/ListItem/ListItem.less";

@chevron-padding-left: @grid-base * 2;
@dropdown-padding-top: @grid-base * 2;
@chevron-height: @grid-base * 3;
@chevron-padding: @grid-base;

.root {
  align-items: flex-start;
  box-shadow: 0 1px 1px @saGrey5;
  color: @saGrey1;
  display: flex;
  line-height: @list-item-padding;
  padding: @list-item-padding @list-item-padding;
  flex-direction: column;
  &.lowerLevel.expanded {
    padding-bottom: 0;
  }
}

.noShadow {
  box-shadow: none;
}

.chevronSvg {
  height: @chevron-height;
  width: @chevron-height;
}

.chevron {

  &.top {
    margin-top: @chevron-padding * 2;
    margin-bottom: auto;
  }

  &.center {
    margin: auto;
  }
  &.bottom {
    margin-top: auto;
    margin-bottom: @chevron-padding;
  }
}

.description {
  padding-right: @chevron-padding-left;
}

.padding {
  padding-left: @chevron-padding-left;
}

.position {
  flex-direction: row-reverse;
}

.toggler {
  display: flex;
  @media @desktop {
    justify-content: center;
    align-items: center;
  }
  cursor: pointer;
}

.dropdown {
  display: flex;
  flex-direction: column;
  padding-top: @dropdown-padding-top;
}

.dropdownNoShow:extend(.dropdown) {
  display: none;
}
