@import (reference) "~seek-asia-style-guide/theme";
@import (reference) "~seek-asia-style-guide/react/ListItem/ListItem.less";

@toggler-item-side-padding: @grid-base;
@dropdown-padding-top: @grid-base * 2;
@chevron-height: @grid-base * 3;
@chevron-padding: @grid-base;

@toggler-line-height: @grid-base * 7;
@toggler-line-height-mobile: @grid-base * 6;

.root {
  align-items: flex-start;
  box-shadow: 0 1px 1px @saGrey5;
  color: @saGrey1;
  display: flex;
  line-height: @list-item-padding;
  padding: @list-item-padding 0;
  flex-direction: column;
  &.lowerLevel.expanded {
    padding-bottom: 0;
  }
  &.noShadow {
    box-shadow: none;
  }
}

.chevronBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: @toggler-line-height-mobile;
  height: @toggler-line-height-mobile;
  width: @toggler-line-height-mobile;
  @media @aboveMobile {
    flex-basis: @toggler-line-height;
    height: @toggler-line-height;
    width: @toggler-line-height;
  }
  transform: translateY(-@grid-base / 2);
  flex-shrink: 0;
}

.leftChevron {
  flex-direction: row-reverse;

  & + .dropdown {
    padding-left: @toggler-line-height;
  }
}

.toggler {
  cursor: pointer;
  display: flex;
}

.dropdown {
  display: none;
  flex-direction: column;
  padding-top: @dropdown-padding-top;

  &.opened {
    display: flex;
  }
}
