@import (reference) "~seek-asia-style-guide/theme";

.secondaryNav {
  display: none;
  @media @desktop {
    display: flex;
    align-items: center;
    & > * {
      margin-left: @grid-base * 2;
    }
  }
}

.userAcclink:focus {
  outline: none;
}

.signup {
  margin-right: @grid-base*2;
}

.signup:focus {
  outline: none;
}

.displayText {
  color: @saGrey3;
  padding: 0;
}
