@import (reference) "~seek-asia-style-guide/theme";
@import (reference) "../../FooterHK.less";

@list-line-height: @grid-base * 4;
@item-horizontal-padding: @grid-base * 2;

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: @list-line-height;
  flex-direction: column;
  @media @tablet {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.item {
  padding: 0;
  @media @tablet {
    padding: 0 @item-horizontal-padding;
  }
  &:first-child {
    padding-left: 0;
  }
}
