@import (reference) '~seek-asia-style-guide/theme';

@checkbox-border-radius: @grid-base;
@checkbox-border-width: 1px;
@checkbox-atom-gap: @grid-base * 2;
@checkbox-line-height: @grid-base * 6;
@checkbox-line-height-compact: @grid-base * 5;
@checkbox-side-length: @checkbox-line-height;
@checkbox-side-length-compact: @checkbox-line-height-compact;

.activeFocusReset() {
  .input:not([readonly]):not([disabled]):focus + &,
  .input:not([readonly]):not([disabled]):active + & {
    border-color: transparent;
    outline: none;
    .focus();
  }
}

.root {
  align-items: baseline;
  cursor: pointer;
  display: inline-flex;
  flex-flow: nowrap;
  line-height: @checkbox-line-height;
  position: relative;
  user-select: none;
  width: auto;

  &.compact {
    line-height: @checkbox-line-height-compact;
  }
  &.disabled {
    color: @saGrey2;
    cursor: not-allowed;
  }
  &.fullWidth {
    justify-content: space-between;
    width: 100%;
  }
  &.rtl {
    flex-direction: row-reverse;
  }
}

.input {
  opacity: 0;
  padding: 0;
  position: absolute;
  z-index: -1;
}

.checkBox {
  .activeFocusReset();
  align-items: center;
  background-color: @saWhite;
  border: @checkbox-border-width solid @saGrey4;
  border-radius: @checkbox-border-radius;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 @checkbox-side-length;
  height: @checkbox-side-length;
  justify-content: center;
  width: @checkbox-side-length;

  .checked & {
    background-color: @saBlue2;
    border-color: @saBlue2;
  }
  .compact & {
    flex-basis: @checkbox-side-length-compact;
    height: @checkbox-side-length-compact;
    width: @checkbox-side-length-compact;
  }
  .disabled & {
    background-color: @saGrey5;
    border-color: @saGrey4;
  }
  .checked.disabled & {
    background-color: @saGrey4;
  }
  &:not(:last-child) {
    margin-right: @checkbox-atom-gap;

    .rtl & {
      margin-left: @checkbox-atom-gap;
      margin-right: 0;
    }
  }
}

.checkMark {
  box-sizing: border-box;
  color: @saWhite;
  fill: currentColor;
  opacity: 0;

  .checked & {
    opacity: 1;
  }
}

.label {
  align-items: baseline;
  display: flex;
  flex-grow: 9999;

  .fullWidth & {
    justify-content: space-between;
  }
}

.labelText {
  .fullWidth & {
    flex-grow: 9999;
  }
}

.labelTextSecondary {
  color: @saGrey2;
  margin-left: @grid-base;
  .fullWidth & {
    flex-grow: 1;
  }
}

.labelText,
.labelTextSecondary {
  line-height: inherit;
  padding-bottom: 0;
  .disabled & {
    color: @saGrey3;
  }
}
