@import (reference) '~seek-asia-style-guide/theme';

@componentHeightMobile: @grid-base * 10;
@componentHeightDesktop: @grid-base * 8;

.setTextVerticalPlacement(@val, @borderWidth) {
  line-height: @val - (@borderWidth * 2);
  height: @val;
}

.hoverState(@rules) {
  @media (hover: hover) {
    &:hover,
    &.rootHover {
      @rules();
    }
  }
}

.activeState(@rules) {
  &:active,
  &.rootActive {
    @rules();
  }
}

.selectedState(@rules) {
  &.selected {
    outline: none;
    @rules();
  }
}

.focusedState(@rules) {
  &:focus,
  &.rootFocused {
    @rules();
  }
}

.textVerticalPlacement (@borderWidth: 1px) {
  .setTextVerticalPlacement (@componentHeightMobile, @borderWidth);
  @media @desktop {
    .setTextVerticalPlacement (@componentHeightDesktop, @borderWidth);
  }
}

.textVerticalPlacementCompact (@borderWidth: 1px) {
  // Use for compatibility purpose, there shouldn't be any manual compact button anymore
  .setTextVerticalPlacement (@componentHeightDesktop, @borderWidth);
}

.buttonColor(@color, @background-color) {
  background-color: @background-color;
  border-color: @background-color;
  color: @color;
  .hoverState({background-color: darken(@background-color, 5%); border-color: @background-color;});
}

.buttonColor(@color, @background-color, @border-color: @background-color) {
  background-color: @background-color;
  border-color: @border-color;
  color: @color;
  .hoverState({background-color: darken(@background-color, 5%); border-color: @border-color;});
}

.root {
  .touchableText(@whistling-type-scale, 1px);
  display: inline-block;
  text-decoration: none;
  user-select: none;
  text-align: center;
  border: 1px solid transparent;
  padding: 0 (@grid-base * 4 - 1);
  border-radius: @grid-base;
  transition:
    background-color 0.2s,
    transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-weight: bold;
  .activeState({outline: none;});
  .textVerticalPlacement();

  &.disabled {
    .disabled();
  }
  &.compact {
    .compactTouchableText(@whispering-type-scale, 1px);
    .textVerticalPlacementCompact();
    &.selected {
      .compactTouchableText(@whispering-type-scale, 1px);
      .textVerticalPlacementCompact();
    }
  }
}

.disabled:not(.root_hyperlink):not(.root_tertiary) {
  .buttonColor(@saGrey5, @saGrey4);
  cursor: default;
}

.root_callToAction {
  .buttonColor(@saWhite, @saBlue);

  &.jobsDB {
    .buttonColor(@saWhite, @actionOrange);
    &.selected {
      .selectedState({background-color: darken(@actionOrange, 5%); color: @saWhite;});
    }
  }

  &.jobStreet {
    .buttonColor(@sk-black, @actionYellow);
    &.selected {
      .selectedState({background-color: darken(@actionYellow, 5%); color: @sk-black;});
    }
  }

  &.selected {
    .selectedState({background-color: darken(@saBlue, 5%); color: @saWhite;});
  }
}

.root_primary {
  .buttonColor(@saWhite, @saBlue2);
  .hoverState({background-color: @saBlue3; border-color: @saBlue3;});
  transition: box-shadow 0.15s ease-in-out;
  will-change: auto;
  &.selected {
    .selectedState({background-color: @saBlue2; border-color: @saBlue1; color: @saWhite;});
    padding-left: @grid-base * 4 - 1;
    padding-right: @grid-base * 4 - 1;
  }
  &:focus,
  &.focused {
    .focusedState({box-shadow: 0 0 2px 2px #94c9e0;});
  }
}

.root_secondary {
  .buttonColor(@actionBlue, @saBlue4);
  .hoverState({background-color: @saBlue5; border-color: @saBlue5;});
  transition: box-shadow 0.15s ease-in-out;
  will-change: auto;
  &.selected {
    .selectedState({background-color: @saBlue4; border-color: @saBlue3; color: @saBlue2;});
    padding-left: @grid-base * 4 - 1;
    padding-right: @grid-base * 4 - 1;
  }
  &:focus,
  &.focused {
    .focusedState({box-shadow: 0 0 2px 2px #94c9e0;});
  }
}

.root_hyperlink {
  color: @hyperlink;
  display: inline-block;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;

  .hoverState({text-decoration: underline;});

  .activeState({transform: none;});

  &.compact {
    .compactTouchableText(@whispering-type-scale, 1px);
    .textVerticalPlacementCompact();
  }

  &.disabled {
    .disabledLink();
  }
}

.root_tertiary {
  .buttonColor(@saWhite, transparent, currentColor);

  &.jobsDB {
    .buttonColor(@dbHirer, @saWhite, currentColor);
    .hoverState({background-color: fade(@dbHirer, 10%); color: @dbHirer; border-color: currentColor;});
  }

  &.jobStreet {
    .buttonColor(@jsHirerGreen, @saWhite, currentColor);
    .hoverState({background-color: fade(@jsHirerGreen, 10%); color: @jsHirerGreen; border-color: currentColor;});
  }

  &.disabled {
    .disabledTertiary();
  }
}

.group {
  width: 100%;

  .root {
    vertical-align: top;
    @media only screen and (max-width: 500px) {
      width: 100%;
    }
    &:not(.root_hyperlink) {
      @media @mobile {
        padding-left: @grid-gutter-width * 2;
        padding-right: @grid-gutter-width * 2;
      }
    }
    & + .root {
      margin-left: @grid-gutter-width / 2;
      @media only screen and (max-width: 500px) {
        margin-top: @grid-row-height;
        margin-left: 0;
      }
    }
    & + .root_hyperlink {
      margin-left: @grid-gutter-width;
      @media only screen and (max-width: 500px) {
        margin-left: 0;
      }
    }
  }
}

.disabled() {
  background-color: @saGrey5;
  border-color: @saGrey5;
  color: @saGrey4;
  cursor: not-allowed;
  pointer-events: none;
}
.disabledTertiary() {
  background-color: @saWhite !important;
  border-color: @saGrey5 !important;
  color: @saGrey4 !important;
  cursor: not-allowed !important;
}
.disabledLink() {
  background-color: transparent;
  color: @saGrey4;
  cursor: not-allowed;
  text-decoration: underline;
}
