@import (reference) "~seek-asia-style-guide/theme";

.root {
  width: 100%;
  background-color: @saWhite;
  z-index: @z-index-header;
}

._cfs_container_width() {
  margin-left: auto;
  margin-right: auto;
}

.currentLocale {
  display: flex;
  margin-top: @grid-base*4;
  align-items: center;
}

.localeIcon {
  margin: @grid-base @grid-base 0 0;
}

.primaryNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1px @grid-base * 2 0 @grid-base * 2; /* 1px padding fixes baseline for align-centered items in this container */
  height: @grid-base * 12;
  justify-content: center;
  ._cfs_container_width;
  @media @desktop {
    justify-content: space-between;
    padding: 1px @grid-base * 6 0 @grid-base * 4;
    height: @grid-base * 14;
  }
}

.primaryNavNoLogin {
  justify-content: center;
  @media @desktop {
    justify-content: flex-start;
  }
}

.primaryNavLinksWrapper {
  display: none;
  @media @desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: @grid-base * 8;
  }
}

.primaryNavLinkWrapper {
  flex-grow: 1;
  cursor: pointer;
  margin-right: @grid-base * 8;
  &:last-child {
    margin-right: 0;
  }
}

.primaryNavLink {
  text-decoration: none;
  display: inline-block;
}

.secondaryNav {
  margin-left: auto;
  display: none;
  min-width: max-content;
  justify-content: space-between;
  @media @desktop {
    display: flex;
  }
}

.hideInDesktop {
  @media @desktop {
    display: none;
  }
}

.logo {
  position: absolute;
  @media @desktop {
    display: flex;
    position: relative;
    top: 3px;
  }
}

.logoLink {
  position: absolute;
  top: 0;
  text-indent: 100%;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.svg {
  fill: rgb(12, 75, 133);
}

.menuToggle {
  margin-left: auto;
  padding: @grid-base * 3;
  @media @desktop {
    display: none;
  }
}
