// Please refer to here for https://getbootstrap.com/docs/3.3/css/#grid-options
// Note that @grid-gutter-width is @grid-base * 4
@mobile-breakpoint: 768px;
@tablet-breakpoint: 992px;
@responsive-breakpoint: @tablet-breakpoint;
@desktop-breakpoint: 1200px;

@mobile: %(
  ~'only screen and (max-width: %s)',
  (@mobile-breakpoint - 1)
); // alias to make thing less broken, as in mobile first approach it is not necessary as always be the default state
@tablet: %(~'only screen and (min-width: %s)', @mobile-breakpoint);
@aboveMobile: %(~'only screen and (min-width: %s)', @mobile-breakpoint);
@desktop: %(~'only screen and (min-width: %s)', @tablet-breakpoint);
@widescreen: %(~'only screen and (min-width: %s)', @desktop-breakpoint);

/* screen size between breakpoints (lower breakpoint inclusive) */
@tablet-only: %(
  ~'only screen and (min-width: %s) and (max-width: %s)',
  @mobile-breakpoint,
  (@tablet-breakpoint - 1)
);
@desktop-only: %(
  ~'only screen and (min-width: %s) and (max-width: %s)',
  @tablet-breakpoint,
  (@desktop-breakpoint - 1)
);

/* stylelint-disable property-no-unknown */

:export {
  responsive-breakpoint: @responsive-breakpoint;
  mobile-breakpoint: @mobile-breakpoint;
  tablet-breakpoint: @tablet-breakpoint;
  desktop-breakpoint: @desktop-breakpoint;
}
