@import (reference) "~seek-asia-style-guide/theme";
@wrapper-low-vertical-padding: @grid-base * 2;
@title-padding-bottom: @grid-base * 3;

.title {
  color: @dbBrand;
  padding-bottom: @grid-base * 4;
}

.iconStyle {
  color: @saGrey3;
}

.iconListItemStyle {
  padding-left: 0;
}

.content {
  color: @saGrey1;
  padding: (@grid-base * 3 / 2) 0; // Divided by 2 for single side
}

.subSectionContent {
  background-color: transparent;
  color: @saGrey1;
}

.mobileOnly {
  .hideBeyondMobile();
}

.flexBeyondMobile {
  display: flex;
  .hideOnMobile();
}
