@import (reference) "~seek-asia-style-guide/theme";

@icon-width: @grid-base * 10;

._attachment(@side: @icon-width;) {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: @side;
  justify-content: center;
  width: @side;
}

.root {
  position: relative;
}

.alert {
  display: flex;
  align-items: center;
  & > * {
    &:not(:first-child) {
      margin-left: @grid-base;
    }
    &:not(:last-child) {
      margin-right: @grid-base;
    }
  }
}

.positive {
  color: @actionGreen;
}

.jobStreet.info {
  color: @jsBlue;
}

.jobsDB.info {
  color: @dbBlue;
}

.critical {
  color: @actionRed;
}

.help {
  color: @saGrey4;
}

.text {
  display: inline-block;
  vertical-align: middle;
  flex-grow: 1;
}

.icon {
  ._attachment();
  svg {
    width: 100%;
    height: 100%;
  }
  @media @mobile {
    vertical-align: top;
  }

  .primary & {
    opacity: 0.8;
  }
}

.close {
  ._attachment();
  border: none;
  padding: 0;
  background-color: transparent;
  color: currentColor;
  cursor: pointer;

  .primary & {
    opacity: 0.8;
  }

  .secondary & {
    color: @sk-black;
    opacity: 0.5;
  }
}
