// Seek element colors
@sk-focus: #1e90ff;
@sk-highlight: #1d9ede;
@sk-background: @saGrey5;
@saHover: @saBlue5;
@saVisitedLink: #6c488f;

//Action colors
/* stylelint-disable */
@actionYellow: #fff200;
@actionOrange: #ff9000;
@actionBlue: #298eb9;
@hyperlink: @actionBlue;
@actionGreen: #63b209;
@actionRed: #ff4b4b;
@actionPastelBlue: @saBlue4;
@actionTurquoise: #0e7e8b;

// Blue shades added at 16 Aug 2018
// Please refer to https://brand.seekasia.com/product/color-usage/
@saBlue1: #206e8f;
@saBlue2: #298eb9; // equivalent to "actionBlue"
@saBlue3: #94c9e0; // equivalent to "activeGlow"
@saBlue4: #ddf1fa; // equivalent to "actionPastelBlue"
@saBlue5: #eef8fc; // equivalent to "saHover"

/* stylelint-enable */

@js-link: @jsBlue;
@js-link-hover: #79c8ec;
@js-green: #00a950;

@lightBlue: #eef8fc;
@activeGlow: @saBlue3;
