@import (reference) "~seek-asia-style-guide/theme";

@badge-font-base: @grid-base * 3;
@badge-border-width: 1px;

.__badgeBg(@color) {
  background-color: screen(@color, @saGrey4);
  border-color: screen(@color, @saGrey4);
}
.__badgeBg(@color; @is-bold) when (@is-bold = true) {
  color: @saWhite;
  font-weight: @sa-bold;
  background-color: (@color);
  border-color: (@color);
}

.borderRadius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.root {
  border: 1px solid transparent;
  .borderRadius(@grid-base * 2.5);
  box-sizing: border-box;
  color: @saGrey1;
  display: inline-block;
  font-size: @badge-font-base;
  font-weight: @sa-semi-bold;
  line-height: 1;
  padding: (@grid-base - @badge-border-width) ((@grid-base * 2) - @badge-border-width);
  white-space: nowrap;
}

.progressing {
  .__badgeBg(@actionGreen);
  &.isBold {
    .__badgeBg(@actionGreen; true);
  }
}

.default {
  .__badgeBg(@actionBlue);
  &.isBold {
    .__badgeBg(@actionBlue; true);
  }
}

.declined {
  .__badgeBg(@actionRed);
  &.isBold {
    .__badgeBg(@actionRed; true);
  }
}

.expired {
  .__badgeBg(@saGrey3);
  &.isBold {
    .__badgeBg(@saGrey3; true);
  }
}

.new {
  .__badgeBg(@actionOrange);
  &.isBold {
    .__badgeBg(@actionOrange; true);
  }
}
