@import (reference) "~seek-asia-style-guide/theme";

@badge-font-base: 12px;
@badge-border-width: 1px;

@lighten: @saGrey4;

.badgeBg(@color) {
  background-color: (@color);
  border-color: (@color);
}

.badgeBg(@color, @lightFactor) {
  background-color: screen(@color, @lightFactor);
  border-color: screen(@color, @lightFactor);
}

.borderRadius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.root {
  border: 1px solid transparent;
  .borderRadius(@grid-base * 2.5);
  box-sizing: border-box;
  color: @saGrey1;
  display: inline-block;
  font-size: @badge-font-base;
  font-weight: @sa-semi-bold;
  line-height: 1;
  padding: (@grid-base - @badge-border-width) ((@grid-base * 2) - @badge-border-width);
  white-space: nowrap;
}

.progressing {
  .badgeBg(@actionGreen, @lighten);
}

.default {
  .badgeBg(@actionBlue, @lighten);
}

.declined {
  .badgeBg(@actionRed, @lighten);
}

.expired {
  .badgeBg(@saGrey3, @lighten);
}

.new {
  .badgeBg(@actionOrange, @lighten);
}

.isBold {
  color: @saWhite;
  font-weight: @sa-bold;
  &.progressing {
    .badgeBg(@actionGreen);
  }

  &.default {
    .badgeBg(@actionBlue);
  }

  &.declined {
    .badgeBg(@actionRed);
  }

  &.expired {
    .badgeBg(@saGrey3);
  }

  &.new {
    .badgeBg(@actionOrange);
  }
}
