@import (reference) "~seek-asia-style-guide/theme";
@wrapper-low-vertical-padding: @grid-base * 10;
@title-padding-bottom: @grid-base * 3;

.columnGroup {
  display: flex;
  @media @mobile {
    justify-content: space-evenly;
  }
}

.category {
  padding: 0;
  margin: 0 auto;
  flex: 1;
  @media @mobile {
    margin: inherit;
    padding-bottom: @wrapper-low-vertical-padding;
  }
}

.firstCategory:extend(.category) {
  margin-left: 0;
}

.title {
  color: @dbBrand;
  padding-bottom: @grid-base * 4;
  padding-left: @grid-base * 4;
  padding-right: @grid-base * 4;
}

.content {
  color: @saGrey2;
}
