@import (reference) "~seek-asia-style-guide/theme";

@iconWidth: @grid-base * 6;
@iconHeight: @grid-base * 6;

.symbolElement {
  svg {
    width: @iconWidth;
    height: @iconHeight;
  }
}

.section {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: border-color .3s;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    padding: 0;
    grid-gap: 1rem;
    align-items: center;
    text-align: center;

    &:hover {
      border-color: #ddd;
    }
  }
}

.symbolContainer {
  padding: @grid-row-height * 3;
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
}

.iconsCard {
  display: flex;
  flex-wrap: wrap;
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    padding: 1rem;
    grid-gap: 2rem 1rem;
  }
}
