@import (reference) "~seek-asia-style-guide/theme";

.symbolName {
  margin-bottom: @grid-row-height * 2;
}

.symbolElement {
  margin-bottom: @grid-row-height * 3;
  max-width: @grid-row-height * 3;
}

.section {
  display: flex;
  flex-wrap: wrap;
}

.symboleContainer {
  padding: @grid-row-height * 3;
}

.iconsCard {
  display: flex;
  flex-wrap: wrap;
}

.codeStyle {
  background-color: @sk-gray-light;
}
