@import (reference) '~seek-asia-style-guide/theme';
@job-card-section-space: @grid-base * 2;
@job-card-label-indent: @grid-base;
@job-card-section-bottom-space: @grid-base * 2;
@job-card-right-area-width: @grid-base * 66;
@max-banner-height: @grid-row-height * 22;
@min-height-right-content: @grid-row-height * 16;
@banner-bottom-padding: @grid-row-height * 4;

.text {
  color: @saGrey1;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: @grid-base;
}

.alignCenter {
  text-align: center;
}

.section {
  padding-bottom: @job-card-section-bottom-space;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.desktopOnly {
  display: none;
  @media @desktop {
    display: flex;
  }
}

.mobileOnly {
  display: flex;
  @media @desktop {
    display: none;
  }
}

.container {
  .flexRow();
  background: @sk-white;
  margin-bottom: @grid-base;
  cursor: pointer;
  &:hover .jobTitle {
    text-decoration: underline;
  }
  .leftContainer {
    .flexCol();
    flex-grow: 1;
    @media @desktop {
      padding: @grid-base*3 @grid-base*2 @grid-base*3 @grid-base*3;
    }
    padding: @grid-base*3 @grid-base*4 @grid-base*2 @grid-base*3;
    position: relative;
    flex-basis: 100%;
  }
  .rightContainer {
    .flexCol();
    padding: @grid-base * 3 @grid-base * 2 @grid-base * 4 @grid-base * 4;
    width: @job-card-right-area-width;
    min-width: @job-card-right-area-width;
    background-color: @saGrey6;
    justify-content: start;
    .desktopOnly();
  }
}

.leftContent {
  .flexCol();
  flex-grow: 1;
}

.rightContent {
  .flexCol();
  align-items: flex-end;
  justify-content: space-between;
  padding-left: @grid-base * 4;
  min-height: @min-height-right-content;
}

.rightContentWithBanner {
  .rightContent();
  @media @desktop {
    padding-left: @grid-base * 20;
    min-height: @min-height-right-content + @max-banner-height + @banner-bottom-padding;
  }
}

.structuredData {
  padding-bottom: @grid-base;
  padding-top: @grid-base;
}

.borderRoot {
  border-style: solid;
  border-bottom-width: 1px;
  border-color: @saGrey4;
}

.highlightedBg {
  background-color: @actionPastelBlue;
}

.selected {
  background-color: @saHover;
}

.withBookmark {
  margin-right: @grid-base * 7;
}

.greyLabel {
  padding: 0 @job-card-label-indent;
  margin-right: @job-card-label-indent;
  background-color: @saGrey5;
  color: @saGrey2;
}

.description {
  @media @desktop {
    margin-right: @grid-base * 4;
  }
}

.sellingPoints {
  .rawText();
  @media @desktop {
    padding: @grid-base * 3 0 @grid-base * 2;
  }
  padding: @grid-base * 2 0 @grid-base * 4;
  color: @saGrey3;
  list-style: none;
}

.sellingPoint {
  display: flex;

  &::before {
    content: "\2022";
    width: @grid-base * 4;
    text-align: center;
    margin-right: @grid-base * 2;
    display: inline-block;
    flex: 0 0 auto;
    line-height: @grid-base * 3;
  }
}

.companyPicWrapper {
  .desktopOnly();
  @media @desktop {
    width: @grid-base * 50;
    min-width: @grid-base * 50;
    max-width: 100%;
    height: @grid-base * 35;
    max-height: 100%;
    justify-content: flex-end;
    padding-left: @grid-base * 2;
    flex: 1;
  }
}

.sideHighlightBorder-jobsdb {
  border-left: @grid-base solid @dbBrand;
}

.sideHighlightBorder-jobstreet {
  border-left: @grid-base solid @jsBlue;
}

.companyPic {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  object-fit: contain;
  align-self: flex-start;
  flex-shrink: 0;
}

.companyLogo {
  max-width: @grid-base * 20;
  max-height: @grid-base * 10;
  @media @desktop {
    max-width: @grid-base * 30;
    max-height: @grid-base * 15;
    padding-bottom: @grid-base *2;
  }
}

.bookmarkButton {
  align-items: center;
  background-color: transparent;
  color: @saGrey4;
  display: flex;
  justify-content: center;
  width: @grid-base * 12;
  height: @grid-base * 12;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
}

.bookmarked {
  color: @saBlue2;
}
