@import (reference) "~seek-asia-style-guide/theme";
@job-card-section-space: 0;
@job-card-label-indent: @grid-base;
@job-card-list-indent: @grid-gutter-width;
@job-card-text-space: 0;
@job-card-bottom-text-space: @grid-base;
@job-card-logo-indent: @grid-gutter-width;

.root {
  width: 100%;
  margin-bottom: 0;
  border-style: solid;
  border-bottom-width: 1px;
  border-color: @saGrey4;
  @media @desktop {
    padding: 0;
  }
  &:hover {
    background-color: @saHover;
  }
  @supports (display: grid) {
    display: grid;
    padding: (@grid-base * 3) (@grid-base * 4);
    grid-gap: @grid-base;
  }
}

.headerSection {
  padding-bottom: @job-card-section-space;
  @supports (display: grid) {
    padding: @job-card-section-space;
  }
}

.highlightedBg {
  background-color: @actionPastelBlue;
}

.company {
  padding-bottom: @grid-base;
  color: @saGrey1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.greyLabel {
  padding: @job-card-text-space @job-card-label-indent;
  margin-right: @job-card-label-indent;
  background-color: @saGrey5;
  color: @saGrey2;
}

.classifiedLabel {
  &:extend(.greyLabel);
}

.confidentialLabel {
  &:extend(.greyLabel);
}

.featuredLabel {
  margin-right: @job-card-label-indent;

  & ~ .applyDate,
  & ~ .postingDuration {
    display: none;
  }
}

.sellingPoints {
  .rawText();
  list-style: disc;
  padding-left: @job-card-list-indent;
  color: @saGrey3;
  margin-left: @grid-base * 3 / 2;
}

.sellingPoint {
  color: @saGrey1;
  padding-bottom: @job-card-text-space;
}

.sellingPointsSection {
  padding-top: @job-card-section-space;
}

.jobDescriptionSection {
  display: none;
  @media @desktop {
    padding-top: @job-card-section-space;
    display: flex;
  }
}

.withDescription {
  padding-bottom: @grid-base * 2;
}

.bodyDescriptionText {
  color: @saGrey1;
  padding-bottom: @job-card-text-space;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.bodySection {
  padding-bottom: @job-card-section-space;
  display: flex;
  justify-content: space-between;

  .headerSection & {
    padding-top: @job-card-section-space;
  }
  @supports (display: grid) {
    padding: @job-card-section-space;
  }
}

.bodyDetailsWrapper {
  // Without this, the flex child containing the other text elements
  // won't narrow past the "implied width" of those text elements.
  min-width: 0;
}

.footerSection {
  padding-top: @grid-base;
  padding-bottom: @grid-base * 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @supports (display: grid) {
    display: grid;
    grid-gap: @job-card-logo-indent;
    grid-template-columns: 1fr auto;
    padding: @grid-base @job-card-section-space @job-card-section-space;
  }
}

.footerLeft {
  // this is the flex-grow 9999 hack: https://joren.co/flex-grow-9999-hack/
  // as we set logo with flex-grow:1, this footerLeft will always make use of
  // all possible available space
  // [TODO] revisit and replace them all with well structured css-grid
  flex-grow: 9999;
  overflow: hidden;
  @media @mobile {
    margin-bottom: @job-card-logo-indent;
  }
  @media @desktop {
    margin-right: @job-card-logo-indent;
  }
  @supports (display: grid) {
    margin: 0;
  }
}

.jobInfoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.jobInfoList {
  display: flex;
  flex-direction: column;
  padding-bottom: (@grid-base * 2);
}

.jobInfo {
  padding-bottom: @job-card-text-space;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: @saGrey1;
  /* stylelint-disable-next-line */
  & span {
    vertical-align: middle;
  }
}

.jobInfoIcon {
  color: @saGrey4;
  width: @grid-base * 4;
  height: @grid-base * 4;
  margin-right: @grid-base * 2;
  line-height: @grid-base * 5;
}

.applyDate,
.postingDuration {
  display: inline;
  padding-bottom: @job-card-bottom-text-space;
  margin-right: @grid-base * 2;
}

.applyDate {
  color: @saGrey1;
}

.postingDuration {
  color: @saGrey2;
}

.companyPicWrapper {
  display: none;
  @media @desktop {
    width: @grid-base * 50;
    min-width: @grid-base * 50;
    height: @grid-base * 35;
    max-height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-left: @grid-base * 2;
    flex: 1;
  }
}

.companyPic {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  object-fit: contain;
  align-self: flex-start;
}

.companyLogoWrapper {
  width: @grid-base * 20;
  min-width: @grid-base * 20;
  height: @grid-base * 20;
  display: flex;
  flex-basis: @grid-base * 20;
  flex-grow: 1;
  align-items: center;
  align-self: flex-end;
}

.companyLogo {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: flex;
  align-self: flex-start;
  flex-shrink: 0; // reset flex-negative to fix overflowed image on IE11
}

.positionTitle {
  padding-bottom: @job-card-text-space;
  display: inline;
  word-wrap: break-word;
}

.positionLink {
  .link(@actionBlue, true);
  text-decoration: none;
  pointer-events: auto;

  .titleKeyword {
    color: darken(@actionBlue, 10%);
  }
}

.positionLink:visited {
  .link(@saVisitedLink, true);

  .titleKeyword {
    color: darken(@saVisitedLink, 10%);
  }
}

.shelfToggle {
  .link(@saGrey2);
  display: none;
  line-height: unset;
  height: unset;
  &:focus {
    outline: none;
  }
  @media @desktop {
    display: inline-block;
  }
}

.shelfToggleText {
  padding-bottom: @grid-base;
}

.shelfToggleIcon {
  width: @grid-base * 2;
  height: @grid-base * 2;
}

.selected {
  background-color: @saHover;
}

.visitedLink {
  text-transform: uppercase;
}
